#################
## Misc
#################
**/.DS_Store


#################
## JetBrains
#################
.idea
.project
.settings
.idea/*
*.iml

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Mac
############

# Mac crap
.DS_Store

.tmp
typings
.tags*


$ cat .gitignore
/node_modules
/documentation

*.log
*.tgz

npm-debug.*
examples/
package-lock.json
